@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Raleway:wght@300;600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    background-color: #EFF6EE;
}
header{
    height: 200px;
    background-color: rgb(242, 242, 232);
}
main{
    height: 1000px;
    position: relative;

}
.kirill{
    font-family: "Rubik";
    color: rgb(246, 247, 236);
    font-size: 50px;
    text-align: center;
    margin: 10px auto;

}
.top__prog{
    font-family: "Rubik";
    color: #273043;
    font-size: 18px;
    text-align: center;
    width: 650px;
    margin: 20px auto;
}
.tmp__block{
    height: 200px; background-color: #F02D3A;
}
.icon{
    width: 25px;
    height: 25px;
    position: relative;
}
.red__header{
    height: 200px; background-color: #F02D3A;
}


.menu{
    height: 50px; 
    background-color: white; 
    box-shadow: 0 0 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.lin1{
    width: 18px;
    height: 2px;
    border: none;
    background-color: #DD0426;
    margin: 0;
    transform: rotate(90deg);
}
.menu__item{
    font-family: "Rubik";
    font-size: 15px;
    color: #273043;
    /* margin: 10px 30px; */
    font-weight: 500;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: all 0.5s;
    padding: 15px 5px;
}
.menu__item2{
    border: 2px solid transparent;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px;
    transition: all 0.5s;
}
.menu__item:hover{
    border-top: 2px solid #273043;
    border-bottom: 2px solid #273043;
    color: #F02D3A;
    padding: 3px 5px;
}
.menu__item:hover .menu__item2{
    border: 2px solid #F02D3A;
    transform: scale(1.05);
}
a{
    text-decoration: none;
}



.stek__main{
    display: grid;
    width: 800px;
    margin: 40px auto;
    /* grid-template-columns: [a a]1fr 1fr 1fr; */
    grid-template-areas: "a a b"
                         "c v v";
    gap: 20px;

}

/*//////////////////////////////////////////*/


.python__main{
    width: 100%;
    height: 250px;
    background-color: white;
    grid-area: a;
    gap: 20px;
    font-family: "Rubik";
    color: #273043;
    border-radius: 15px;
    transition: all 0.3s;
    position: relative;
    border: 3px solid transparent;
}
.python__header{
    position: absolute;
    font-size: 60px;
    top: 40px;
    left: 160px;
    transition: all 0.3s;
    color: grey;
}
.python__main:hover .python__header{
    font-size: 30px;
    top: 10px;
    left: 40px;
    color: #273043;
}
.py_i{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: all 0.3s;
    filter: grayscale(100%); 
    opacity: 0;
}
.python__main:hover .py_i{
    filter: grayscale(0%); 
    opacity: 1;
}
.python__main:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* transform: scale(1.01); */
    transform: translate(100px 100px);
    border: solid #273043 3px; 
    /* background-color: #9197AE; */
    /* Created with https://www.css-gradient.com */
background: #D4D7D6;
background: -webkit-linear-gradient(top left, #D4D7D6, #58565E);
background: -moz-linear-gradient(top left, #D4D7D6, #58565E);
background: linear-gradient(to bottom right, #D4D7D6, #58565E);
}
.python__main:hover .py_i{
    /* transform: scale(1.1); */
    filter: grayscale(0%); 
}
.py__text{
    width: 400px;
    position: absolute;
    top: 80px;
    left: 42px;
    opacity: 0;
    transition: all 0.4s;
    transition-delay: 0.2s; 

}

.python__main:hover .py__text{
    display: block;
     opacity: 1;
}

.pl1{
    position: absolute;
    width: 60px;
    padding: 0px;
    border-top: #273043 solid 5px;
    border-radius: 10px;
    transform: rotate(45deg);
    right: 6px;
    top: 30px;
}
.pl2{
    position: absolute;
    width: 40px;
    padding: 0px;
    border-top: rgb(240, 192, 32) solid 5px;
    border-radius: 10px;
    transform: rotate(45deg);
    right: 6px;
    top: 22px;

}
.pl3{
    position: absolute;
    width: 20px;
    padding: 0px;
    border-top: #273043 solid 5px;
    border-radius: 10px;
    transform: rotate(45deg);
    right: 7px;
    top: 15px;
}
.tmp1{ opacity: 0; transition: all 0.3s;}
.python__main:hover .tmp1{opacity: 1;}
.v1{
    position: absolute;
    width: 60px;
    padding: 0px;
    border-top: #273043 solid 5px;
    border-radius: 10px;
    transform: rotate(45deg);
    bottom: 30px;
    left: 6px;
}
.v2{
    position: absolute;
    width: 40px;
    padding: 0px;
    border-top: rgb(114, 193, 232) solid 5px;
    border-radius: 10px;
    transform: rotate(45deg);
    bottom: 22px;
    left: 6px;
}
.v3{
    position: absolute;
    width: 20px;
    padding: 0px;
    border-top: #273043 solid 5px;
    border-radius: 10px;
    transform: rotate(45deg);
    bottom: 15px;
    left: 7px;
}

/*/////////////////////////////////*/

.js__main{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    position: relative;    
    background-color: white;
    grid-area: v;
    transition: all 0.3s;
    font-family: "Rubik";
    color: #273043;
    border: 3px solid transparent;
    padding: 0;
}
.js_header{
    position: absolute;
    font-size: 60px;
    top: 25px;
    left: 67px;
    transition: all 0.3s;
    color: grey;
    margin: 0;
}
.js__cont{
    position: absolute;
    top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 65px;
    transition: all 0.3s;

    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.js__main:hover .js__cont{
    border-right: #f0de16 6px dashed;
    border-left: #f0de16 6px dashed;
}
.js__main:hover .js_header{
    font-size: 30px;
    top: -45px;
    left: 162px;
    color: #273043;
}
.js__main:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: solid #273043 3px; 
    /* background-color: rgba(255, 247, 199, 1); */
    /* Created with https://www.css-gradient.com */
/* background: #FFDD38;
background: -webkit-linear-gradient(bottom right, #FFDD38, #FFFFFF);
background: -moz-linear-gradient(bottom right, #FFDD38, #FFFFFF);
background: linear-gradient(to top left, #FFDD38, #FFFFFF); */
/* Created with https://www.css-gradient.com */
background: #FFF36C;
background: -webkit-linear-gradient(bottom right, #FFF36C, #FCFFDB);
background: -moz-linear-gradient(bottom right, #FFF36C, #FCFFDB);
background: linear-gradient(to top left, #FFF36C, #FCFFDB);
}
.js_i{
    width: 50px;
    height: 50px;
    transition: all 0.3s;
    filter: grayscale(100%); 
    opacity: 0;
}
.js__main:hover .js_i{
    filter: grayscale(0%);
    opacity: 1;
}

.js_text{
    width: 80%;
    
    text-align: justify;
    margin: 0 auto;
    opacity: 0;
}
.js__main:hover .js_text{opacity: 1;}
.cont{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    width: 100%;
}



.js_hr{
    position: absolute;
    top: 30px;
    left: 40px;
    border-right: #f0de16 6px dashed;
    border-left: #f0de16 6px dashed;
    width: 419px;
    height: 200px;
    opacity: 0;
    transition: all 0.3s;
}
.js__main:hover .js_hr{opacity: 1;}

/*//////////////////////////////////*/



.web__main{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    position: relative;
    background-color: white;
    grid-area: c;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    font-family: "Rubik";
    color: #273043;
    font-size: 30px;
    border: 3px solid transparent;

}
.web_hr{
    width: 100%;
    border-top: 3px dashed #273043;
    /* transform: rotate(-45deg); */
    opacity: 0;
    transition: all 0.3s;
}
.web__main:hover .web_hr{
    opacity: 1;
    transform: rotate(-45deg);
}
.html__text{
    position: absolute;
    top: 45px;
    left: 67px;
    color: grey;
    transition: all 0.3s;
}
.web__main:hover .html__text{
    top: 10px;
    left: 85px;
    color: #273043;
    font-size: 28px; 
}
.css__text{
    position: absolute;
    bottom: 30px;
    right: 90px;
    color: grey;
    transition: all 0.3s;
}
.web__main:hover .css__text{
    bottom: 0px;
    right: 83px;
    color: #273043;
    font-size: 28px;
}
.web__main:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    border: solid #273043 3px; 
/* Created with https://www.css-gradient.com */
/* background: #FFB536;
background: -webkit-linear-gradient(top left, #FFB536, #A487FF);
background: -moz-linear-gradient(top left, #FFB536, #A487FF);
background: linear-gradient(to bottom right, #FFB536, #A487FF); */
/* Created with https://www.css-gradient.com */
/* background: #FFB12B;
background: -webkit-linear-gradient(top left, #FFB12B, #8159FF);
background: -moz-linear-gradient(top left, #FFB12B, #8159FF);
background: linear-gradient(to bottom right, #FFB12B, #8159FF); */
/* Created with https://www.css-gradient.com */
/* background: #FFBA44;
background: -webkit-linear-gradient(top left, #FFBA44, #6ACCFF);
background: -moz-linear-gradient(top left, #FFBA44, #6ACCFF);
background: linear-gradient(to bottom right, #FFBA44, #6ACCFF); */
/* Created with https://www.css-gradient.com */
background: #FFC259;
background: -webkit-linear-gradient(top left, #FFC259, #91DAFF);
background: -moz-linear-gradient(top left, #FFC259, #91DAFF);
background: linear-gradient(to bottom right, #FFC259, #91DAFF);
}
.html_i{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: all 0.3s;
    filter: grayscale(100%); 
    opacity: 0;
}
.web__main:hover .html_i{
    filter: grayscale(0%); 
    opacity: 1;
}
.css_i{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transition: all 0.3s;
    filter: grayscale(100%); 
    opacity: 0;
}
.web__main:hover .css_i{
    filter: grayscale(0%); 
    opacity: 1;
}



/*////////////////////////////////*/

.go__main{
    max-width: 100%;

    height: 250px;
    border-radius: 15px;
    position: relative;
    background-color: white;
    grid-area: b;
    transition: all 0.3s;
    font-family: "Rubik";
    color: #273043;
    font-size: 30px;
    z-index: 2;
    overflow: hidden;
    border: 3px solid transparent;
}

.go_i{
    width: 80px;
    height: 140px;
    position: absolute;
    bottom: 0px;
    right: -70px;
    z-index: 1;
    transition: all 0.3s;
    filter: grayscale(100%); 
    opacity: 0;
    
}
.go__main:hover .go_i{
    right: 0px;
    opacity: 1;
}
.go__header{
    transition: all 0.3s;
    position: absolute;
    font-size: 60px;
    top: 35px;
    left: 85px;
    color: grey;
}
.go__text{
    width: 140px;
    position: absolute;
    top: 70px;
    left: 42px;
    opacity: 1;
    transition: opacity 0.2s;
    transition-delay: 0.2s; 
    font-size: 13px;
    text-align: justify;
    opacity: 0;
}
.go__main:hover .go__text{
    opacity: 1;
}
.go__main:hover .go__header{
    font-size: 35px;
    top: -4px;
    left: 40px;
    color: #273043;
}
.go__main:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* transform: scale(1.01); */
    /* background-color: rgba(228, 251, 255, 1); */
    /* Created with https://www.css-gradient.com */


    border: solid #273043 3px; 
background: #77E2FF;
background: -webkit-linear-gradient(bottom right, #77E2FF, #D2F1F7);
background: -moz-linear-gradient(bottom right, #77E2FF, #D2F1F7);
background: linear-gradient(to top left, #77E2FF, #D2F1F7);

}
.go__main:hover .go_i{
    filter: grayscale(0%); 
}


.go_hr1{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 10px 2px 0px 2px;
    border-top:rgb(85, 186, 236) 4px solid;
    border-left:rgb(85, 186, 236) 4px solid;
}
.go_hr2{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 2px 10px 2px 2px;
    border-top:rgb(85, 186, 236) 4px solid;
    border-right:rgb(85, 186, 236) 4px solid;
}
.go_hr3{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 2px 2px 2px 10px;
    border-bottom:rgb(85, 186, 236) 4px solid;
    border-left:rgb(85, 186, 236) 4px solid;
}
.tmp2{ opacity: 0; transition: all 0.3s;}
.go__main:hover .tmp2{opacity: 1;}






/* ////////////////////////////////////////////////////////////////////////// */

.st__main__cont{
    display: flex;
    margin: 30px auto;
    max-width: 950px;
    height: auto;
    position: relative;
    font-family: "Rubik";
    color: #273043;
    align-items: flex-start;
}
.right__menu__el{
    margin-top: 8px;
    margin-right: 10px;
    transition: all 0.3s;
    color: #273043;
}
.right__menu__el:hover{
    color: #F02D3A;
}
.right__menu{
    position: sticky;
    top: 70px;
    max-width: 200px;
    min-width: 180px;

    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.st{
    margin-right: 30px;
    max-width: 650px;
    background-color: white;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;

}
.st__h1{
    font-size: 30px;
}
.st__h3{
    font-size: 25px;
}

#stmc1{ display: block;}
#stmc2{ display: none;}
#stmc3{ display: none;}


.demo{
    color: #F02D3A;
    transition: all 0.3s;
}
.demo:hover{
    text-decoration: underline;
}